.tns-nav {
    text-align: center;

    > button {
        outline: none;
        padding: 0;
        margin: 0 8px 0 0;
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        border: none;
        opacity: 0.6;
        transition: all 400ms;

        &:last-child {
            margin-right: 0;
        }

        &.tns-nav-active,
        &:hover {
            opacity: 1;
        }
    }
}
