<!doctype html>
<html lang="en" dir="ltr">

<head>
    <partial src="_head.html"></partial>
</head>

<body>
    <partial src="_header.html"></partial>

    <section class="spotlight">
        <div class="spotlight__wrapper">
            <!-- item -->
            <div>
                <div class="container">
                    <div class="spotlight__item">
                        <div class="spotlight__first-column">
                            <h2 class="title">Inspire your inspiration</h2>
                            <h3 class="subtitle">Simple to use for your app, products showcase and your inspiration</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit</p>

                            <ul class="spotlight__stores">
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-apple"></i></a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-android"></i></a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-windows"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="spotlight__last-column">
                            <img src="images/tablet.png" alt="Tinyone in tablet">
                        </div>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div>
                <div class="container">
                    <div class="spotlight__item">
                        <div class="spotlight__first-column">
                            <h2 class="title">Inspire your inspiration</h2>
                            <h3 class="subtitle">Simple to use for your app, products showcase and your inspiration</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit</p>

                            <ul class="spotlight__stores">
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-apple"></i></a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-android"></i></a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-windows"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="spotlight__last-column">
                            <img src="images/tablet.png" alt="Tinyone in tablet">
                        </div>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div>
                <div class="container">
                    <div class="spotlight__item">
                        <div class="spotlight__first-column">
                            <h2 class="title">Inspire your inspiration</h2>
                            <h3 class="subtitle">Simple to use for your app, products showcase and your inspiration</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit</p>

                            <ul class="spotlight__stores">
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-apple"></i></a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-android"></i></a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link"><i class="fab fa-windows"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="spotlight__last-column">
                            <img src="images/tablet.png" alt="Tinyone in tablet">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="container">

            <h2 class="features__title">Tinyone features</h2>
            <h3 class="features__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</h3>

            <div class="features__wrapper">

                <div class="features__item">
                    <span class="icon"><i class="fab fa-windows"></i></span>
                    <div>
                        <h4 class="title">Fully Responsive</h4>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>

                <div class="features__item">
                    <span class="icon"><i class="fab fa-angellist"></i></span>
                    <div>
                        <h4 class="title">Fully Responsive</h4>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>

                <div class="features__item">
                    <span class="icon"><i class="far fa-window-restore"></i></span>
                    <div>
                        <h4 class="title">Fully Responsive</h4>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>

                <div class="features__item">
                    <span class="icon"><i class="fab fa-amilia"></i></span>
                    <div>
                        <h4 class="title">Fully Responsive</h4>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>

                <div class="features__item">
                    <span class="icon"><i class="fas fa-baseball-ball"></i></span>
                    <div>
                        <h4 class="title">Fully Responsive</h4>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>

                <div class="features__item">
                    <span class="icon"><i class="far fa-bell"></i></span>
                    <div>
                        <h4 class="title">Fully Responsive</h4>
                        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="newslatter">
        <div class="container">

            <h2 class="newslatter__title">Keep in touch with us</h2>
            <p class="newslatter__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>

            <form action="/" class="newslatter__form">
                <input class="input" type="email" placeholder="Enter your email to update" required>
                <button class="submit" type="submit" name="button">Submit</button>
            </form>

            <ul class="social-midia">
                <li class="social-midia__item">
                    <a href="#" class="social-midia__link"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="social-midia__item">
                    <a href="#" class="social-midia__link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="social-midia__item">
                    <a href="#" class="social-midia__link"><i class="fab fa-google-plus-g"></i></a>
                </li>
                <li class="social-midia__item">
                    <a href="#" class="social-midia__link"><i class="fab fa-pinterest-p"></i></a>
                </li>
            </ul>

        </div>
    </section>

    <partial src="_footer.html"></partial>

    <partial src="_scripts.html"></partial>
</body>

</html>
