<button class="toggle-menu hamburger hamburger--slider" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>

<div class="modal"></div>

<header class="header">
    <div class="container">

        <nav class="header__navigation">
            <a href="/" class="header__brand">
                <img src="../images/brand.png" alt="Tinyone">
                Tinyone
            </a>
            <ul class="header__list">
                <li class="header__item">
                    <a href="#" class="header__link active">Features</a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__link">Suport</a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__link">Blog</a>
                </li>
            </ul>
        </nav>

    </div>
</header>
