*{
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #010101
}

a {
    text-decoration: none;
    color: inherit;
}
